html,
body,
#root {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  outline: none;
  width: 100vw;
  height: 100vh;
}

body {
  background: white;
  font-family: 'Inter var', sans-serif;
  display: flex;
  justify-content: center;
}

#root {
  width: 76ch;
}
